registry=https://registry.npmjs.org/
@areugoh:registry=https://npm.pkg.github.com/
@jorgechato:registry=https://npm.pkg.github.com/
@familyallovertheworld:registry=https://npm.pkg.github.com/
@faotw:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=
