add_newline = false
format = '$directory$git_branch$git_status$golang$nodejs$zig$lua$nix_shell$rust$php$python${custom.direnv}$kubernetes$character'
command_timeout = 2000

[time]
disabled = true

[line_break]
disabled = true

[character]
success_symbol = '[\$](bold white)'
error_symbol = '[\$](bold red)'

[directory]
read_only = " 󰌾"
style = 'bold green'
# style = 'bold #DF440D'

[kubernetes]
format = '[$symbol($namespace)]($style) '
#format = '[$context]($style) '
disabled = false
style = 'bold white'

[custom.direnv]
#command = 'test $(direnv status | tail -2 | head -1) = "Found RC allowed false" && echo ""'
#format = '[$symbol[($output)](yellow) ]($style)'
symbol = ""
format = '[$symbol ]($style)'
detect_files = ['.envrc', '.envrc.local', '.env.local', '.env']
detect_extensions = ['envrc', 'env']
style = 'green'

[git_status]
style = "#808080"
format = '([$all_status$ahead_behind]($style) )'
conflicted = '[󰞇](red)'
ahead = '[󱓞](green)'
behind = '[](red)'
diverged = ''
up_to_date = ''
untracked = ''
stashed = '󰏖'
modified = '󰙏'
staged = '[󱓞](yellow)'
renamed = ''
deleted = ''

[git_branch]
symbol = " "
format = '[$symbol$branch(:$remote_branch)]($style) '
style = 'bold white'

[aws]
symbol = "  "

[dart]
symbol = " "
format = '[$symbol($version )]($style)'

[docker_context]
symbol = " "
format = '[$symbol($version )]($style)'

[elixir]
symbol = " "
format = '[$symbol($version )]($style)'

[fossil_branch]
symbol = " "
format = '[$symbol($version )]($style)'

[golang]
symbol = " "
format = '[$symbol($version )]($style)'

[haskell]
symbol = " "
format = '[$symbol($version )]($style)'

[hg_branch]
symbol = " "

[hostname]
ssh_symbol = " "

[java]
symbol = " "
format = '[$symbol($version )]($style)'

[lua]
symbol = " "
format = '[$symbol($version )]($style)'

[memory_usage]
symbol = "󰍛 "

[nix_shell]
symbol = "󱄅 "
format = '[$symbol($version )]($style)'

[nodejs]
symbol = " "
format = '[$symbol($version )]($style)'

[package]
symbol = "󰏗 "

[pijul_channel]
symbol = " "
format = '[$symbol($version )]($style)'

[python]
symbol = " "
format = '[$symbol($version )]($style)'

[rust]
symbol = " "
format = '[$symbol($version )]($style)'

[php]
symbol = " "
format = '[$symbol($version )]($style)'

[zig]
symbol = " "
format = '[$symbol($version )]($style)'
