# Record {{{
rec(){
	if [ "$*" ]; then
		asciinema rec "$*"
	else
		asciinema
	fi
}
play(){
	if [ "$*" ]; then
		asciinema play "$*"
	else
		asciinema
	fi
}
# }}}
v(){
	if [ "$*" ]; then
		nvim "$*"
	else
		nvim .
	fi
	}
awsf(){
    FILTER="*"
	if [ "$*" ]; then
        FILTER="$@"
	fi
	aws ec2 describe-instances --filters "Name=tag:Name,Values=$FILTER"  --query "Reservations[*].Instances[*].{Name:Tags[?Key=='Name']|[0].Value,XInstance:InstanceId}" --output table
}
alias awsl="aws ssm start-session --target"
alias awsp="aws_profiles"
alias tf="terraform"
alias ap="ansible-playbook"
alias k="kubectl"
alias d=docker
alias dc=docker-compose
alias g=git
alias o="open"
alias python=python3
alias ssh-tor="torsocks ssh"
alias parquet="parquet-tools"
alias cc="clickhouse-client"
alias ccpro="clickhouse-client -h clickhouse.production.virtusize.jp --port 9000"
alias ccpro1="clickhouse-client -h ec2-54-250-36-125.ap-northeast-1.compute.amazonaws.com --port 9000"
alias ccpro2="clickhouse-client -h ec2-18-183-165-44.ap-northeast-1.compute.amazonaws.com --port 9000"
alias ccstg="clickhouse-client -h clickhouse.staging.virtusize.jp --port 9000"
# alias irssi='TERM=screen-256color torsocks irssi'
alias apt="sudo apt-get"
alias gip="ip route"
alias py=python3
alias pyclean="rm -rf **/*.pyc"
alias tweet="rainbowstream"
alias zshconfig="nvim ~/.zshrc"
alias vimcolor="cd ~/.vim/color"
alias vimconfig="nvim ~/.vimrc"
alias ohmyzsh="nvim ~/.oh-my-zsh"
alias sourcelist="v /etc/apt/sources.list"
alias links="links2"
alias terminatorconfig="nvim ~/.config/terminator/config"
alias hosts="nvim /etc/hosts"
alias ly="teamocil"
alias n4="fortune vN4 | cowsay -f three-eyes -e -- && echo -e '\e[33m['https://quizlet.com/106562829/vocabulario-noken-4-hiraganakanjiespanol-flash-cards/']\e[0m\n'"
alias fn="sudo nvim /sys/module/hid_apple/parameters/fnmode"
alias aliases="nvim ~/.zsh/.aliases"
alias cleanhistory="cat /dev/null > ~/.zsh_history"
alias cuda=conda
# Sudo {{{
alias eject="sudo eject"
alias ifconfig="sudo ifconfig"
alias airodump-ng="sudo airodump-ng"
alias airmon-ng="sudo airmon-ng"
alias setoolkit="sudo setoolkit"
alias sqlmap="workon sqlmap && python ~/kali/sqlmap-dev/sqlmap.py"
# }}}
