# Record {{{
rec(){
	if [ "$*" ]; then
		asciinema rec "$*"
	else
		asciinema
	fi
}
play(){
	if [ "$*" ]; then
		asciinema play "$*"
	else
		asciinema
	fi
}
# }}}
# PSQL {{{
pypsql(){
	if [ "$*" ]; then
		psql -U "$1" -d "$2" -h localhost
	else
		echo 'ERROR:: You forgot add the db name in psql -U <<user name>> -d <<database name>> -h localhost'
	fi
}
# }}}
vs(){
	if [ "$*" ]; then
		code "$*"
	else
		code .
	fi
}
v(){
	if [ "$*" ]; then
		mvim "$*"
	else
		mvim .
	fi
	}
e(){
	if [ "$*" ]; then
		emacsclient -t -c -a "" "$*"
	else
		emacsclient -t -c -a "" .
	fi
}
awsf(){
    FILTER="*"
	if [ "$*" ]; then
        FILTER="$@"
	fi
	aws ec2 describe-instances --filters "Name=tag:Name,Values=$FILTER"  --query "Reservations[*].Instances[*].{Name:Tags[?Key=='Name']|[0].Value,XInstance:InstanceId}" --output table
}
alias tf="terraform"
alias k="kubectl"
alias d=docker
alias g=git
alias o="open"
alias awsl="aws ssm start-session --target"
alias emacs="emacs -fs"
alias killemacs="emacsclient -e '(kill-emacs)'"
alias python=python3
alias ssh-tor="torsocks ssh"
# alias irssi='TERM=screen-256color torsocks irssi'
alias apt="sudo apt-get"
alias gip="ip route"
alias py=python3
alias pyclean="rm -rf **/*.pyc"
#alias rm="rm -i"
alias tweet="rainbowstream"
alias zshconfig="mvim ~/.zshrc"
alias vimcolor="cd ~/.vim/color"
alias vimconfig="mvim ~/.vimrc"
alias ohmyzsh="mvim ~/.oh-my-zsh"
alias sourcelist="v /etc/apt/sources.list"
alias links="links2"
alias ndate="(echo '日本国' && TZ='Japan' date)"
alias herokulog="heroku logs --tail"
alias terminatorconfig="mvim ~/.config/terminator/config"
alias encoder="java -jar ~/.pentest/rubber-ducky/Encoder/encoder.jar"
alias hosts="mvim /etc/hosts"
alias ly="teamocil"
alias n4="fortune vN4 | cowsay -f three-eyes -e -- && echo -e '\e[33m['https://quizlet.com/106562829/vocabulario-noken-4-hiraganakanjiespanol-flash-cards/']\e[0m\n'"
alias fn="sudo mvim /sys/module/hid_apple/parameters/fnmode"
#alias two="xrandr --listproviders && xrandr --setprovideroutputsource 1 0 && xrandr --setprovideroutputsource 2 0"
alias aliases="mvim ~/.zsh/.aliases"
alias cleanhistory="cat /dev/null > ~/.zsh_history"
alias cuda=conda
# Sudo {{{
alias eject="sudo eject"
alias ifconfig="sudo ifconfig"
alias airodump-ng="sudo airodump-ng"
alias airmon-ng="sudo airmon-ng"
alias setoolkit="sudo setoolkit"
alias sqlmap="workon sqlmap && python ~/kali/sqlmap-dev/sqlmap.py"
# }}}
